# PYTHON Y SQL 2

Objetivos
Durante la clase de pair programming de creaci칩n de tablas de SQL nos creamos nuestra primerita BBDD desde cero en Workbench. En el ejercicio de hoy volveremos a crear esa misma BBDD, pero esta vez desde Python.

游늷 NOTA Utilizad el nombre de la BBDD de mi_primerita_BBDD_Python

游늷 NOTA Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de c칩digo una y otra vez. Para evitar esto, crearos una funci칩n que nos sirva para crear tablas independientemente del contenido de la tabla. La funci칩n recibir치 como par치metros:
Contrase침a de la conexi칩n al servidor.
Query para crear la tabla.

A modo de recap de lo que conten칤a la BBDD:
- Tabla Zapatillas: tiene 4 columnas: id, modelo, color, talla con las siguientes caracter칤sticas:
    - idZapatillas: es una clave primaria de tipo int, autoincremental y no nula.
    - Modelo: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Color: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Talla: es entero, no nula.

- Tabla Clientes: tiene 9 columnas idcliente, nombre, numero_telefono, email, direccion, ciudad, provincia, pais, codigo_postal con las siguientes caracter칤sticas:
    - idCliente: es una clave primaria de tipo int, autoincremental y no nula.
    - Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Numero_telefono: es un entero de longitud m치xima de 9 caracteres, no nula.
    - Email: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Direccion: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Ciudad: es una cadena de caracteres de longitud m치xima de 45 caracteres, puede ser nula.
    - Provincia: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Pais: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Codigo_postal: entero de m치xima longitud 9, no nula.


- Tabla Empleados: tiene 5 columnas idEmpleado, nombre, tienda, salario, fecha_incorporacion con las siguientes caracter칤sticas:
    - idEmpleado: es una clave primaria de tipo int, autoincremental y no nula.
    - Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Tienda: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - salario: es decimal, puede ser nula.
    - fecha_incorporacion: es una columna de tipo date, no nula.

- Tabla Facturas: tiene 5 columnas idFactura, idEmpleado, idCliente, fecha, total con las siguientes caracter칤sticas:
    - idFactura: es una clave primaria de tipo int, autoincremental y no nula.
    - idEmpleado: es una clave for치nea de tipo int, no nula.
    - idCliente: es una clave for치nea de tipo int, no nula.
    - idZapatilla: es una clave for치nea de tipo int, no nula
    - Fecha: es una columna de tipo date, no nula.
    - Total: es decimal, no nula.

游늷 NOTA En esta 칰ltima tabla tendremos que incluir todos los CONSTRAINTnecesarios para establecer los relaciones entre las tablas, donde tendremos que especificar:
- Foreign Key
- References

In [1]:
# creamos la base de datos
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python

游늷 NOTA Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de c칩digo una y otra vez. Para evitar esto, crearos una funci칩n que nos sirva para crear tablas independientemente del contenido de la tabla. La funci칩n recibir치 como par치metros:
Contrase침a de la conexi칩n al servidor.
Query para crear la tabla.

In [9]:
def crear_tabla(contrase침a, query_crear):
    import mysql.connector
    cnx = mysql.connector.connect(user='root', password= contrase침a,
                                    host='127.0.0.1', database = 'mi_primerita_BBDD_Python')
    mycursor = cnx.cursor()
    
    try:
        mycursor.execute(query_crear)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    return mycursor

In [7]:
query1= 'CREATE TABLE zapatillas (id_zapatillas INT AUTO_INCREMENT NOT NULL PRIMARY KEY, modelo VARCHAR(45) NOT NULL, color VARCHAR(45) NOT NULL, talla INT NOT NULL)'

In [10]:
# creamos la primera tabla, zapatillas
crear_tabla('AlumnaAdalab', query1)

CMySQLCursor: CREATE TABLE zapatillas (id_zapatillas I..

In [15]:
query_clientes = 'CREATE TABLE clientes (id_cliente INT AUTO_INCREMENT NOT NULL PRIMARY KEY, nombre VARCHAR(45) NOT NULL, telefono INT NOT NULL, email VARCHAR(45) NOT NULL, direccion VARCHAR(45) NOT NULL, ciudad VARCHAR(45) NULL, provincia VARCHAR(45) NOT NULL, pais VARCHAR(45) NOT NULL, codigo_postal INT NOT NULL)'

In [16]:
crear_tabla('AlumnaAdalab', query_clientes)

CMySQLCursor: CREATE TABLE clientes (id_cliente INT AU..

In [17]:
query_empleados = 'CREATE TABLE empleados (id_empleado INT AUTO_INCREMENT NOT NULL PRIMARY KEY, nombre VARCHAR(45) NOT NULL, tienda VARCHAR(45) NOT NULL, salario FLOAT NULL, fecha_incorporacion DATE NOT NULL)'

In [18]:
crear_tabla('AlumnaAdalab', query_empleados)

CMySQLCursor: CREATE TABLE empleados (id_empleado INT ..

In [31]:
query_facturas = 'CREATE TABLE facturas (id_factura INT AUTO_INCREMENT NOT NULL PRIMARY KEY, id_empleado INT NOT NULL, id_cliente INT NOT NULL, id_zapatillas INT NOT NULL, fecha DATE NOT NULL, total FLOAT NOT NULL, FOREIGN KEY (id_zapatillas) REFERENCES zapatillas(id_zapatillas), FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente), FOREIGN KEY (id_empleado) REFERENCES empleados(id_empleado))'

In [32]:
crear_tabla('AlumnaAdalab', query_facturas)

CMySQLCursor: CREATE TABLE facturas (id_factura INT AU..